<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <task:annotation-driven />
    <context:annotation-config />
    <context:component-scan base-package="com.channel.cpc.job"/>

<!--    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
<!--        <property name="triggers">-->
<!--            <list>-->
<!--                <ref bean="callBackJobTrigger"/>-->
<!--                <ref bean="failReCallJobTrigger"/>-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->

<!--    <bean id="callBackJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
<!--        <property name="targetObject" ref="callBackJob"/>-->
<!--        <property name="targetMethod" value="callback"/>-->
<!--        <property name="concurrent" value="false"/>-->
<!--    </bean>-->

<!--    <bean id="callBackJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
<!--        <property name="jobDetail" ref="callBackJobDetail"/>-->
<!--        <property name="cronExpression" value="0 0/5 * * * ? "/>-->
<!--    </bean>-->

<!--    <bean id="failReCallJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
<!--        <property name="targetObject" ref="failReCallJob"/>-->
<!--        <property name="targetMethod" value="reCall"/>-->
<!--        <property name="concurrent" value="false"/>-->
<!--    </bean>-->

<!--    <bean id="failReCallJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
<!--        <property name="jobDetail" ref="failReCallJobDetail"/>-->
<!--        <property name="cronExpression" value="0 30 1 * * ? "/>-->
<!--    </bean>-->
</beans>